@model Order

<h1>Add a new Order</h1>
<form asp-action="CreateOrder" method="post">
    <div class="mb-3">
        <label for="CustomerId">Customer Name</label>
        <select asp-for="CustomerId" class="form-control">
            @foreach(Customer c in ViewBag.AllCustomers)
            {
                <option value="@c.CustomerId">@c.Name</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label for="ProductId">Product Name</label>
        <select asp-for="ProductId" class="form-control">
            @foreach(Product p in ViewBag.AllProducts)
            {
                <option value="@p.ProductId">@p.Name</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label for="QuantityBought">Quantity</label>
        <input asp-for="QuantityBought" class="form-control" value="1">
        <span asp-validation-for="QuantityBought" class="text-danger"></span>
    </div>
    <input type="submit" value="Add Order" class="btn btn-primary">
</form>