@model Product
<h1>Add a new product</h1>
<form asp-action="CreateProduct" method="post">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Image"></label>
        <input asp-for="Image" class="form-control">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" class="form-control">
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <input type="submit" value="Add Product" class="btn btn-primary">
</form>